.reply-card {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding: 24px 50px;
    padding-top: 24px;
    padding-right: 50px;
    padding-bottom: 24px;
    padding-left: 50px;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
    background-color: #4390b1;
}

.reply-card__container {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    position: relative;
    overflow: visible;
    overflow-x: visible;
    overflow-y: visible;
}

.reply-card__header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    padding-top: 2px;
}

.reply-card__account {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
}

.reply-card__content {
    padding: 20px 0;
    word-wrap: break-word;
    word-break: break-word;
    font-size: 20px;
    line-height: 24px;
    color: #2d465a;
    overflow: hidden;
    overflow-x: hidden;
    overflow-y: hidden;
}

.reply-card .reply-card-operation-bottom {
    zoom: 1;
}

.reply-card .reply-card-operation-bottom__item {
    color: #ccc;
    line-height: 14px;
    margin-right: 15px;
    border-right: 1px solid #ccc;
    border-right-width: 1px;
    border-right-style: solid;
    border-right-color: rgb(204, 204, 204);
    padding: 0 15px;
    padding-top: 0px;
    padding-right: 15px;
    padding-bottom: 0px;
    padding-left: 15px;
}
.name_sytle {
    color: #666;
    max-width: 180px;
}